<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Список задач</title>
</head>
<body>
    <div class="container mt-4">
        <h1>Список задач</h1>
        <form method="post" action="{% url 'grade_list' %}">
            {% csrf_token %}
            {% for grade in grades %}
                <div class="card mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ grade.book }}</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="product" value="{{ grade.id }}" id="grade{{ grade.id }}" {% if grade.is_visible %}checked{% endif %}>
                            <label class="form-check-label" for="grade{{ grade.id }}">
                                Выбрать
                            </label>
                        </div>
                        <p class="card-text">Задача: {{ grade.grade }}</p>
                        <p class="card-text">Описание: {{ grade.text }}</p>
                        <p class="card-text">Видимость: {{ grade.is_visible }}</p>
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        </form>
    </div>
</body>
</html>