@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');


body {
  background-color: #39384F;
  font-family: "Lato" ;
  font-weight: 300;
  font-size: 16px;
  color: #39383F;

  -webkit-font-soothing: antialiased;
  -webkit-overflow-scrolling: touch;

  margin-top: 70px;

}

h2,h4,h5,h6{
  font-family: "Lato";
  font-weight: 300;
  color:#39383F;
}

h3{
  font-family: 'Ramabhadra', sans-serif;
  font-weight: 400;

}

h1{
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color:#39383F;
}


p{
  line-height: 28px;
  margin-bottom: 25px;
}

.centered{
  text-align: center;
}

a{
  font-family: "Oswald";
  font-size: 30px;
}

a:hover , a:focus{
  color:#7b7b7b;
  text-decoration: none;
  outline: 0;
}

hr {
  height: 1px;
  border: 0;
  border-top:1px solid #ccc;
  margin: 1em 0;
  padding:0;
}


li {
  margin-top:60px;
  margin-left: 10px;
}

.li:active, .li:hover{
  background-color: #39383F ;

}




.navbar{
  margin-top: -80px;
  font-weight:800;
  font-size:14px;
  padding-top:15px;
  padding-bottom: 15px;
}

.navbar-inverse{
  background:#005367;
  border-color: #39383F;
}



.navbar-inverse .navbar-brand{
  color: #999 ;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}

#headrwrap{

  margin: 300px ;

}

#Buttons{
  margin-left: 100px
}

.form-control{
  background-color: #39383F;
  border: 1px solid #ccc;
  border-radius:4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
  color: #555 ;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  width: 50%;
  margin-top: 20px;
  margin-left: 25%;
}

#Entered{
  height: 500px;
}

#EnterButton{
  margin-top: 50px;
  margin-left: 250px;
}


#enterVK{
  margin-left: 160px;
}

#ForgetPasswords{
  margin-left:240px;
}

#ForgetPasswords:hover{
  color: #DE4E5F;
  text-decoration:underline;
}


#containerEMail{
  margin-left: 25%;

}

.EnterText{
  margin-left: 150px;
}

.close{
  margin-right: 10px;
  margin-top: 10px;
}

#RegisterButton{
  margin-left: 180px;
  margin-top: 30px;
}

#H1changeColor{
    color:white;
}

#next-block{
  width: 300px;
  height: 60px;
  background:#f1f1f1;
  float:left;
  margin-left: 400px;
  padding-top:10px
  text-align:center;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;500&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #EFF7FE;
   color: #080515;
   font-family: 'Noto Sans Display', sans-serif;
   line-height: 1;
}

.tabs {
   position: relative;
   text-align: center;
}

.tabs input[type=radio] {
   display: none;
}

.tabs label {
   position: relative;
   z-index: 1;
   display: inline-block;
   width: 130px;
   height: 30px;
   line-height: 30px;
   color: white;
   font-size: 14px;
   cursor: pointer;
}

.switch {
   position: absolute;
   top: 0;
   left: 50%;
   height: 30px;
   width: 130px;
   background: #251349;
   border-radius: 40px;
   transform: translateX(-130px);
   transition: transform .5s;
}

.tabs section {
   display: none;
   padding: 40px 0 0;
   animation: scale .7s ease-in-out;
}

@keyframes scale {
   0% {
      transform: scale(0.9);
      opacity: 0;
   }

   50% {
      transform: scale(1.01);
      opacity: 0.5;
   }

   100% {
      transform: scale(1);
      opacity: 1;
   }
}

.tabs #tab1:checked~#content1,
.tabs #tab2:checked~#content2 {
   display: block;
}

.tabs input[type=radio]:checked+label+.switch {
   color: white;
}

.tabs input[type=radio]:not(:checked)+label {
   color: #080515;
}

.tabs input[type="radio"]:checked+label+.switch,
.tabs input[type="radio"]:checked+label:nth-of-type(n)+.switch {
   transform: translateX(0);
}

.item-inner {
   padding: 30px 20px;
   border-radius: 10px;
   background: white;
   box-shadow: 0 2px 40px rgba(47, 43, 50, .2);
}

.pricing-tables .pricing-item:nth-child(2) .item-inner {
   background: #251349;
   color: white;
}

.item-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: left;
   padding-bottom: 20px;
   margin-bottom: 20px;
   border-bottom: 1px solid #D7D9DB;
}

.title *,
.price * {
   display: block;
}

.title b,
.price b {
   font-size: 18px;
   margin-bottom: 8px;
   font-weight: 500;
}

.title span,
.price span {
   font-size: 12px;
   color: #9c9ba1;
}

.price {
   padding: 8px 10px;
   border-radius: 6px;
   background: #EFF7FE;
}

.pricing-tables .pricing-item:nth-child(2) .item-header {
   border-bottom: 1px solid #222A3E;
}

.pricing-tables .pricing-item:nth-child(2) .price {
   background: #3F286B;
}

.pricing-tables .pricing-item:nth-child(2) .price span {
   color: rgba(255, 255, 255, 0.4);
}

.features {
   list-style: none;
   text-align: left;
   margin-bottom: 30px;
}

.features li {
   margin-bottom: 10px;
   font-size: 14px;
}

.features li:before {
   content: "\e87f";
   display: inline-block;
   font-family: Linearicons-Free;
   speak: none;
   font-style: normal;
   font-weight: 400;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   margin-right: 5px;
}

.pricing-button {
   text-decoration: none;
   background: #FF7556;
   display: block;
   font-size: 14px;
   color: white;
   height: 46px;
   line-height: 46px;
   border-radius: 6px;
   text-align: center;
   transition: .3s linear;
}

.pricing-button:hover {
   background: #cc2500;
}

@media(max-width:959px) {
   .pricing-item {
      width: 350px;
      margin: 0 auto 40px;
   }
}

@media(min-width:960px) {
   .tabs section {
      padding: 50px 0 40px;
   }
{% url 'list-book' %}
   .pricing-tables {
      display: flex;
      margin: 0 -10px;
   }

   .pricing-item {
      width: 33.333333333%;
      padding: 0 10px;
   }
}
<div class="post-wrap">
<div class="post-item">
<div class="post-item-wrap">
<img src="https://html5book.ru/wp-content/uploads/2017/06/blue-image-3.jpg">
<div class="line">
<a href="" class="post-link">
<span>Перейти на сайт</span>
</a>
</div>
</div>
</div>

<div class="post-item">
<div class="post-item-wrap">
<img src="https://html5book.ru/wp-content/uploads/2017/06/blue-image-2.jpg">
<div class="line">
<a href="" class="post-link">
<span>Перейти на сайт</span>
</a>
</div>
</div>
</div>

<div class="post-item">
<div class="post-item-wrap">
<img src="https://html5book.ru/wp-content/uploads/2017/06/blue-image-1.jpg">
<div class="line">
<a href="" class="post-link">
<span>Перейти на сайт</span>
</a>
</div>
</div>
</div>
</div>
HTML
* {
   margin: 0;
   box-sizing: border-box;
}
.post-wrap {
   max-width: 1120px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.post-item {
   padding: 10px;
}
.post-link {
   text-decoration: none;
   display: block;
   color: #FC473E;
   font-weight: 500;
   position: relative;
   z-index: 5;
}
.post-item-wrap {
   position: relative;
   background-color: #FDFDFD;
   background-image: radial-gradient(#CADAD9 2px, transparent 2px);
   background-size: 6px 6px;
}
.post-item-wrap img {
   display: block;
   width: 100%;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
   transition: .3s;
}
.post-item:hover .post-item-wrap img {
   transform: translate(12px, 12px);
}
.line {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;
   margin: 12px 0 0 12px;
   opacity: 0;
   transition: .3s;
}
.line:before {
   content: "";
   position: absolute;
   bottom: -15px;
   left: 50%;
   width: 5px;
   height: 5px;
   margin: 0 0 0 -2px;
   background: #FC473E;
   border-radius: 50%;
}
.line:after {
   content: "";
   position: absolute;
   width: 1px;
   left: 50%;
   height: 50px;
   top: 100%;
   bottom: 0;
   margin-top: 13px;
   transform: scaleY(-1);
   background: linear-gradient(to bottom, rgba(252, 71, 62, 0) 0%, rgba(252, 71, 62, 1) 100%);
}
.post-item:hover .line {
   opacity: 1;
}
.post-item-wrap:after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0;
   background: white;
   transition: .3s;
}
.post-item:hover .post-item-wrap:after {
   opacity: .7;
   top: 12px;
   left: 12px;
   right: -12px;
   bottom: -12px;
}
@media (min-width: 768px) {
   .post-item {
      flex-basis: 50%;
      flex-shrink: 0;
   }
}
@media (min-width: 960px) {
   .post-item {
      flex-basis: 33.333333333%;
   }
}
CSS
Пример 8. Идея для сайта в темных тонах: анимация внутри блока
<div class="post-wrap">
<div class="post-item">
<div class="item-content">
<div class="item-icon group"></div>
<div class="item-body">
<h3>Мероприятия</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat a quam non blandit.</p>
</div>
<div class="item-footer">
<a href="#" class="link"><span>Подробнее</span></a>
</div>
</div>
</div>

<div class="post-item">
<div class="item-content">
<div class="item-icon tree"></div>
<div class="item-body">
<h3>Отдых на природе</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat a quam non blandit.</p>
</div>
<div class="item-footer">
<a href="#" class="link"><span>Подробнее</span></a>
</div>
</div>
</div>

<div class="post-item">
<div class="item-content">
<div class="item-icon anchor"></div>
<div class="item-body">
<h3>Круизы</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat a quam non blandit.</p>
</div>
<div class="item-footer">
<a href="#" class="link"><span>Подробнее</span></a>
</div>
</div>
</div>

<div class="post-item">
<div class="item-content">
<div class="item-icon video"></div>
<div class="item-body">
<h3>Видеосъемка</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat a quam non blandit.</p>
</div>
<div class="item-footer">
<a href="#" class="link"><span>Подробнее</span></a>
</div>
</div>
</div>

<div class="post-item">
<div class="item-content">
<div class="item-icon photo"></div>
<div class="item-body">
<h3>Фотография</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat a quam non blandit.</p>
</div>
<div class="item-footer">
<a href="#" class="link"><span>Подробнее</span></a>
</div>
</div>
</div>

<div class="post-item">
<div class="item-content">
<div class="item-icon gift"></div>
<div class="item-body">
<h3>Подарки</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat a quam non blandit.</p>
</div>
<div class="item-footer">
<a href="#" class="link"><span>Подробнее</span></a>
</div>
</div>
</div>
</div>
HTML
* {
   margin: 0;
   box-sizing: border-box;
}
body {
   background: #39383F;
   font-family: 'Montserrat Alternates', sans-serif;
}
.post-wrap {
   max-width: 1120px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.post-item {
   padding: 15px;
   cursor: pointer;
}
.post-item * {
   transition: .3s linear;
}
.item-content {
   background: #413D4C;
   padding: 40px;
}
.item-icon {
   margin-bottom: 20px;
}
.item-icon:before {
   content: "";
   font-family: FontAwesome;
   color: #F09EA3;
   font-size: 50px;
   line-height: 1;
}
.item-icon.photo:before {
   content: "\f030";
}
.item-icon.video:before {
   content: "\f03d";
}
.item-icon.gift:before {
   content: "\f06b";
}
.item-icon.group:before {
   content: "\f0c0";
}
.item-icon.tree:before {
   content: "\f1bb";
}
.item-icon.anchor:before {
   content: "\f13d";
}
.post-item:hover .item-icon, .post-item:hover .item-body h3, .post-item:hover .item-body p {
   transform: translateY(-8px);
}
.item-body {
   color: #F5E2CD;
   font-size: 14px;
}
.item-body h3 {
   font-weight: 500;
   margin-bottom: 15px;
   transition-delay: .05s;
}
.item-body p {
   transition-delay: .1s;
}
.item-footer {
   padding-top: 15px;
}
.link {
   text-decoration: none;
   display: inline-block;
   overflow: hidden;
   position: relative;
   padding-right: 30px;
   font-size: 12px;
   text-transform: uppercase;
   font-weight: 600;
   color: #F5E2CD;
}
.link:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   bottom: 0;
   height: .125rem;
   margin: auto;
   background: #F09EA3;
   transform: scaleX(.2);
   transform-origin: left center;
   z-index: 0;
   transition: .6s cubic-bezier(.6, .01, 0, 1);
}
.link span {
   display: inline-block;
   position: relative;
   transform: translateX(-200%);
   transition: .6s cubic-bezier(.6, .01, 0, 1);
}
.post-item:hover .link span {
   transform: translateX(0%);
}
.post-item:hover .link:before {
   transform-origin: right center;
}
@media (min-width: 768px) {
   .post-item {
      flex-basis: 50%;
      flex-shrink: 0;
   }
}
@media (min-width: 960px) {
   .post-item {
      flex-basis: 33.333333333%;
   }
}
@media(min-width:1120px) {
   .pricing-wrapper {
      width: 100%;
      max-width: 1060px;
      margin: 0 auto;
   }
}
CSS

.vniz{
margin-bottom: 10%;

}